.logo{
    width: 250px;
    height: 50px;
    margin-left: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #141414;
}

.nav-links ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    font-size: 20px;
    font-weight: 200;
    margin-right: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    color: #afafaf;
}

.nav-links ul li a:hover {
    color: #f0f0f0;
}

.contact-link{
    background-color: #ffffff;
    color: #000000 !important; /* Added !important to enforce the text color */
    padding: 5px 8px;
    border-radius: 5px;
}
